# Python-specific
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
*.ipynb_checkpoints/
*.ipynb

# Data files
*.csv

# Secrets and credentials
.secrets

# VS Code
.vscode/

# Miscellaneous
*.log
*.bak
*.swp
*~
.DS_Store  # macOS-specific